@font-face {
    font-family: TeXMath;
	  src: url("TeXMath.otf");
}

.dark-mode {
	background-color: #323338;
	color: #FFFFFF;
}

.title {
	font-family: TeXMath;
	font-size: 15vh;
	font-weight: 100;
	text-align: center;
	margin-top: 2.5%;
	user-select: none;
}
