@font-face {
    font-family: TeXMath;
	  src: url("TeXMath.otf");
}

.dark-mode {
	background-color: #323338;
	color: #FFFFFF;
}

.light-button {
	background-color: #5f6063;
}

.dark-button {
	background-color: #ffffff;
}

#lightButton {
	position: absolute;
	top: 20px;
	right: 30px;
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 8px;
}

#google-login {
	position: absolute;
	left: 50%;
	height: 50px;
	width: 200px;
	transform: translate(-50%,0);
}

.title {
	font-family: TeXMath;
	font-size: 8vw;
	font-weight: 100;
	text-align: center;
	margin-top: 2.5%;
	user-select: none;
}
