<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Calculus World Cup</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
		<link rel="icon" type="image/jpg" href="{{ url_for('static',filename='favicon.jpg') }}">
		<meta name="author" content="Ashaz Jameel">
		<meta name="google" content="notranslate">
	</head>
		
    <body>
		<h1 class="title">ℂ𝕒𝕝𝕔𝕦𝕝𝕦𝕤 𝕎𝕠𝕣𝕝𝕕 ℂ𝕦𝕡</h1>
		<button id="lightButton" class="light-button" type="button" onclick="lightDark()"></button>
		<div id="google-login">
			<p id="register-text"> Login/Register </p>
			<button type="button" onclick="window.location.href = '{{ url_for('login_google') }}'"></button>
			<img inert src="https://developers.google.com/identity/images/g-logo.png">
		</div>
    </body>
</html>
